CELERY_BROKER_URL=redis://oM0HbhorkhXeNW5zd8nRURp0lRt4mVVy@redis-11370.c245.us-east-1-3.ec2.cloud.redislabs.com:11370/0
CELERY_BROKER_BACKEND=redis://oM0HbhorkhXeNW5zd8nRURp0lRt4mVVy@redis-11370.c245.us-east-1-3.ec2.cloud.redislabs.com:11370/0